<h3>Ausbildungsnachweis KW xxxxxx</h3>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Datum</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="datum" disabled>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="col-sm-2 control-label">Montag</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="montag" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Dienstag</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="dienstag" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Mittwoch</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="mittwoch" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Donnerstag</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="donnerstag" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Freitag</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="freitag" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <div class="radio">
        <label>
          <input type="radio" name="optionsSpeAtiw" id="optionSpe" value="option1">SPE
        </label>
      </div>
    </div>
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <div class="radio">
        <label>
          <input type="radio" name="optionsSpeAtiw" id="optionAtiw" value="option1">Atiw
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <button class="btn  btn-default"  type="submit">Herunterladen</button>
    </div>
  </div>

</form>

