<form class="form-horizontal" (submit)="onSubmit()">
  <h3 i18n>Termin ändern
    <button *ngIf="id" type="button" class="btn btn-danger glyphicon glyphicon-trash" (click)="onDelete()"></button>
  </h3>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <input id="name" class="form-control" name="name" [(ngModel)]="name" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="type">Typ</label>
      <select id="type" name="typ" class="form-control" [(ngModel)]="type" required>
        <option value="STANDARD">Standart</option>
        <option value="ATIW">Atiw</option>
        <option value="SPE">SPE</option>
        <option value="EXAM">Klausur</option>
        <option value="LECTURE">Vorlesung</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label" for="description">Beschreibung</label>
      <textarea id="description" class="form-control" name="description" [(ngModel)]="description" required></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="start">Start</label>
      <input id="start" name="start" class="form-control" type="date" [(ngModel)]="startDate" required>
      <input id="startTime" name="startTime" class="form-control" type="time" [(ngModel)]="startTime" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="end">Ende</label>
      <input id="end" name="end" class="form-control" type="date" [(ngModel)]="endDate" required>
      <input id="endTime" name="endTime" class="form-control" type="time" [(ngModel)]="endTime" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="repetitionType">Wiederholungen</label>
      <select id="repetitionType" name="repetitionType" class="form-control" [(ngModel)]="repetitionType" required>
        <option value="none"> Keine</option>
        <option value="daily">Täglich</option>
        <option value="weekly">Wöchentlich</option>
      </select>
    </div>

    <div class="form-group" *ngIf="repetitionType && repetitionType != 'none'">
      <label class="control-label" for="repetitionNumber">Anzahl Wiederholungen</label>
      <input id="repetitionNumber" name="repetitionCount" class="form-control" type="number"
             [(ngModel)]="repetitionCount" required>
    </div>

    <div class="form-group">
      <div class="text-center">
        <div class="btn-group">
          <button type="submit" class="btn btn-primary">Speichern</button>
          <button type="button" class="btn btn-default" (click)="onCancel()">Abbrechen</button>
        </div>
      </div>
    </div>
  </div>
</form>
