<form class="form-horizontal" (submit)="onSubmit()">
  <h3 i18n="">Termin ändern
    <button *ngIf="id" type="button" class="btn btn-danger glyphicon glyphicon-trash" (click)="onDelete()"></button>
  </h3>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <input id="name" class="form-control" name="name" [(ngModel)]="name" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="type" i18n="">Typ</label>
      <select id="type" name="typ" class="form-control" [(ngModel)]="type" required>
        <option value="STANDARD">Standard</option>
        <option value="ATIW">ATIW</option>
        <option value="SPE">SPE</option>
        <option value="EXAM" i18n="">Klausur</option>
        <option value="LECTURE" i18n="">Vorlesung</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label" for="description" i18n="">Beschreibung</label>
      <textarea id="description" class="form-control" name="description" [(ngModel)]="description" required></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="start">Start</label>
      <input id="start" name="start" class="form-control" type="date" [(ngModel)]="startDate" required>
      <input id="startTime" name="startTime" class="form-control" type="time" [(ngModel)]="startTime" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="end" i18n="">Ende</label>
      <input id="end" name="end" class="form-control" type="date" [(ngModel)]="endDate" required>
      <input id="endTime" name="endTime" class="form-control" type="time" [(ngModel)]="endTime" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="repetitionType" i18n="">Wiederholungen</label>
      <select id="repetitionType" name="repetitionType" class="form-control" [(ngModel)]="repetitionType" required>
        <option value="none" i18n="">Keine</option>
        <option value="daily" i18n="">Täglich</option>
        <option value="weekly" i18n="">Wöchentlich</option>
      </select>
    </div>

    <div class="form-group" *ngIf="repetitionType && repetitionType != 'none'">
      <label class="control-label" for="repetitionNumber" i18n="">Anzahl Wiederholungen</label>
      <input id="repetitionNumber" name="repetitionCount" class="form-control" type="number"
             [(ngModel)]="repetitionCount" required>
    </div>

    <div class="form-group">
      <div class="text-center">
        <div class="btn-group">
          <button type="submit" class="btn btn-primary" i18n="">Speichern</button>
          <button type="button" class="btn btn-default" (click)="onCancel()" i18n="">Abbrechen</button>
        </div>
      </div>
    </div>
  </div>
</form>
