<h3 i18n="">Firmen</h3>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6" i18n="">Firma</th>
      <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6" i18n="">Logo</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let n of companies" (click)="onClick(n)">
      <td>{{n.name}}</td>
      <td><img style="max-height: 50px; max-width: 8000px" [attr.src]="n.logo" [alt]="n.name"></td>
      <td></td>
    <tr>
    </tbody>
  </table>
</div>
<a [routerLink]="['create-company']" class="btn btn-primary" i18n="">Firma anlegen</a>
