<h3 i18n>Klassen</h3>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Name</th>
        <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Invitation Link</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of classes" [class.waiting]="item.uuid != null">
        <td>{{item.id}}</td>
        <td>{{item.link}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-success" (click)="onCreate()" i18n>Klasse hinzufügen</button>
