<div class="container">
<h3 i18n>Ausbildungsnachweis erstellen</h3>

<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label" i18n>Datum</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" name="date">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" i18n>KW</label>
    <div class="col-sm-2">
      <input class="form-control" type="number" name="kw" min="1" max="52">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <div class="radio">
        <label>
          <input type="radio" name="optionsSpeAtiw" id="optionSpe" value="option1">SPE
        </label>
      </div>
    </div>
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <div class="radio">
        <label>
          <input type="radio" name="optionsSpeAtiw" id="optionAtiw" value="option2">Atiw
        </label>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group">
    <label class="col-sm-2 control-label" i18n>Montag</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="4" cols="100" name="monday"> </textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" i18n>Dienstag</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="4" cols="100" name="tuesday"> </textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" i18n>Mittwoch</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="4" cols="100" name="wednesday"> </textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" i18n>Donnerstag</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="4" cols="100" name="thursday"> </textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" i18n>Freitag</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="4" cols="100" name="friday"> </textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <button class="btn  btn-default" type="submit" i18n>Hochladen</button>
    </div>
  </div>

</form>
</div>
