<div>
  <form class="form-horizontal" onsubmit="submit()">
    <h2>{{question.title}}</h2>
    <p style="font-weight: bold">Frage</p>
    <hr style="height: 1px; background-color:black;">
    <p>{{question.question}}</p>

    <div *ngFor="let a of question.answers; let i = index" class="intend50">
      <p style="font-weight: bold">{{i + 1}}. Antwort</p>
      <hr style="height: 1px; background-color:black;">

      <div>
        <div>
          <label class="glyphicon glyphicon-thumbs-up" style="font-size: x-large"></label>
          <label style="color: blue">{{a.votes}} fand(en) das hilfreich</label>
        </div>

        <p style="margin-left: 40px">
          {{a.answer}}
        </p>
      </div>
    </div>

    <div class="intend50">
      <p style="font-weight: bold">Antworten</p>
      <hr style="height: 1px; background-color:black;">
      <textarea class="form-control" rows="4" cols="100" name="answerNew"></textarea>
      <br>
      <button class="btn btn-default col-sm-2">Antworten</button>
    </div>
  </form>
</div>
