<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/home']" [routerLinkActive]="['active']" class="navbar-brand"><img
        src="../assets/images/km_logo.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="mainNav">

      <ul class="nav navbar-nav">

        <li *ngIf="user.isUserInRole('KSMEM')" [routerLinkActive]="['active']"><a [routerLink]="['xcc']">XChange
          Center</a></li>
        <li *ngIf="user.isUserInRole('KSMEM')" [routerLinkActive]="['active']"><a [routerLink]="['xcm']">XChange
          Market</a></li>
        <li *ngIf="user.isUserInRole('KSMEM')" [routerLinkActive]="['active']"><a [routerLink]="['knc']">Knowledge
          Center</a></li>

        <li class="dropdown" *ngIf="user.isUserInRole('KSSPR')">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" i18n="Manage Class Module Header">Klasse
            verwalten<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['uas/manage-class']">Klassenmitglieder einladen</a>
            </li>
            <li><a href="#">Rechte verwalten</a></li>
          </ul>
        </li>
        <li *ngIf="user.isUserInRole('ADMIN')" [routerLinkActive]="['active']"><a [routerLink]="['uas/manage-classes']">Administration</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <img src="../assets/images/km_notification.png" height="25px" class="d-inline-block align-top" alt="">
            <!--ToDo: schöner machen und anpassen-->
            <span class="badge">1</span>
          </a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.firstname + " " + user.name}}<span
            class="caret"></span></a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['uas/edit-profile']">Daten ändern</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid" style="margin-top: 75px">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <router-outlet></router-outlet>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
      <app-small-calender></app-small-calender>
    </div>
  </div>
</div>
<app-confirm-delete-invitation></app-confirm-delete-invitation>


