<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/home']" [routerLinkActive]="['active']" class="navbar-brand"><img
        src="../assets/images/km_logo.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="mainNav">

      <ul class="nav navbar-nav">

        <li *ngIf="user.isUserInRole('XCC')" [routerLinkActive]="['active']"><a [routerLink]="['xcc']" i18n>XChange
          Center</a></li>
        <li *ngIf="user.isUserInRole('KNC')" [routerLinkActive]="['active']"><a [routerLink]="['knc']" i18n>Knowledge
          Center</a></li>

        <li class="dropdown" *ngIf="user.isUserInRole('KSSPR')">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" i18n="Manage Class Module Header" i18n>Klasse
            verwalten<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['uas/manage-class']" i18n>Klassenmitglieder verwalten</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['knc/categories']" i18n>Kategorien verwalten</a></li>
          </ul>
        </li>

        <li class="dropdown" *ngIf="user.isUserInRole('ADMIN')">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" i18n="Manage Class Module Header">Administration<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['uas/manage-users']" i18n>User verwalten</a>
            </li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['uas/manage-classes']" i18n>Klassen hinzufügen</a>
            </li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['uas/manage-companies']" i18n>Firmen verwalten</a>
            </li>
          </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" i18n>
            <img src="../assets/images/km_notification.png" height="25px" class="d-inline-block align-top" alt="">
            <!--ToDo: schöner machen und anpassen-->
            <span class="badge">1</span>
          </a>
          <ul class="dropdown-menu">

          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.firstname + " " + user.name}}<span
            class="caret"></span></a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['uas/edit-profile']" i18n>Daten ändern</a></li>
            <li><a href="#" (click)="onLocaleSwitch()" i18n>Sprache wechseln</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid" style="margin-top: 75px">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <router-outlet></router-outlet>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
      <app-small-calender></app-small-calender>
    </div>
  </div>
</div>
<app-confirm-delete-invitation></app-confirm-delete-invitation>
<app-confirm-delete-user></app-confirm-delete-user>


