<div class="container">
  <div id="member-table" class="table-responsive">
    <label for="member-table">Mitglieder</label>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Vorname</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of memberList">
        <td>{{item.name}}</td>
        <td>{{item.firstname}}</td>
        <td>
          <div class="text-right">
            <button class="btn btn-danger glyphicon glyphicon-trash"></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="invitation-table" class="table-responsive">
    <label for="invitation-table">Offene Einladungen</label>
    <form>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Vorname</th>
          <th>Email</th>
          <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of invitationList">
          <td>{{item.name}}</td>
          <td>{{item.firstname}}</td>
          <td>{{item.email}}</td>
          <td class="invitation-link-column">
            <label>{{item.link}}</label>
          </td>
          <td>
            <div class="text-right">
              <button class="btn btn-danger glyphicon glyphicon-trash"
                      (click)="onDelete(item)"></button>
            </div>
          </td>
        </tr>
        <tr [hidden]="!editMode">
          <td><input type="text" name="name" [(ngModel)]="focusedInvitation.name" class="form-control"></td>
          <td><input type="text" name="firstname" [(ngModel)]="focusedInvitation.firstname" class="form-control"></td>
          <td><input type="text" name="email" [(ngModel)]="focusedInvitation.email" class="form-control"></td>
          <td></td>
          <td id="invitation-create-controls">
            <div class="text-center btn-group">
              <button class="btn btn-success glyphicon glyphicon-ok" (click)="onAdd()"></button>
              <button class="btn btn-danger glyphicon glyphicon-remove"
                      (click)="editMode = false; focusedInvitation = {}"></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div [hidden]="editMode">
    <button class="btn btn-success glyphicon glyphicon-plus"
            (click)="editMode = true; focussedInvitation = {}"></button>
  </div>
</div>

